/*use sudo classes*/
.btn {
    // just '&' is applied to the buttons that does not have 'a'
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 20rem;
        /*transition property has to be in the initial state*/
        -webkit-transition: all .2s;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    /*When hovers, it moves up by 3px*/
    &:hover { 
        -webkit-transform: translateY(-0.3rem);
                transform: translateY(-0.3rem);
        /*x-direction, Y, blur, color*/
        -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
                box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    /*when clicked, it moves down a bit*/
    &:active,
    &:focus {
        // -------!!to remove the blue outline when focused -- outline: none
        outline: none;
        -webkit-transform: translateY(-.1rem);
                transform: translateY(-.1rem);
        -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
                box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
        /*when we hover, after do this*/
        &:hover::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &--green{
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
        /*when we hover, after do this*/
        &:hover::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        /*initial state of btn-white:hover::after, btn-white::after*/
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    &--animated{
        /*name, duration, timing function, delay*/
        -webkit-animation: moveInBottom .5s ease-out .75s;
                animation: moveInBottom .5s ease-out .75s;
        /*^^^^^^^^^^^animation-fill-mode: backwards automaticly apply the animation 0% before the animation starts*/
        -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
    }

}
.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        font-size: $default-font-size;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        // Box shadow: X Y Blur color
        -webkit-box-shadow:0 1rem 2rem rgba($color-black, .15);
                box-shadow:0 1rem 2rem rgba($color-black, .15);
        -webkit-transform: translateY(-2px);
                transform: translateY(-2px);

    }

    &:active {
        -webkit-box-shadow:0 .5rem 1rem rgba($color-black, .15);
                box-shadow:0 .5rem 1rem rgba($color-black, .15);
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}